.footer {
    background-color: #f0f0f0;
    padding: 2vh 1vw 3vh 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ======================== footer的暗色主题 ======================== */
.footer-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-dark .info *,
.footer-dark .copyright {
    color: rgba(255, 255, 255, 0.3);
}

.footer-dark .info .about a:hover,
.footer-dark .info .help a:hover,
.footer-dark .info .cooperation a:hover {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.footer-dark .info .UniShare-logo img {
    filter: drop-shadow(0 10vw rgba(255, 255, 255, 0.5));
}

.footer .info {
    padding: 2vh 0;
    display: flex;
    justify-content: center;
}

.footer * {
    color: rgba(0, 0, 0, 0.8);
}

.footer .info .about,
.help,
.cooperation,
.UniShare-logo {
    width: 20vw;
}

.footer .info .about div,
.help div,
.cooperation div {
    width: 20vw;
    margin: 1vh 0;
}

.info div h3 {
    font-weight: bold;
}

.info div a {
    text-decoration: none;
    font-size: 1vw;
}

.info div a:hover {
    text-decoration: underline;
}

.info .UniShare-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    overflow: hidden;
}

.UniShare-logo img {
    width: 100%;
    object-fit: cover;
    transform: translateY(-10vw);
    filter: drop-shadow(0 10vw rgba(0, 160, 255, 1));
}

.footer .copyright {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}