.footer {
    position: relative;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
}

.footer * {
    color: rgba(0, 0, 0, 0.7);
}

/* ======================== footer的暗色主题 ======================== */
.footer-dark {
    background-color: black;
}

.footer-dark .anime-img,
.footer-dark .pekka {
    opacity: 0.6;
}

.footer-dark .follow h3,
.footer-dark .follow a i {
    color: rgba(255, 255, 255, 0.3);
}

.footer.footer-dark .follow a:nth-child(4) i {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.3);
}

.footer.footer-dark .follow a:nth-child(4) i:hover {
    background-color: none;
    color: rgba(255, 255, 255, 0.3);
}

.footer.footer-dark .follow a:nth-child(8) i:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 1);
}

.footer-dark .top {
    background-color: black !important;
}

.footer-dark .info *,
.footer-dark .copyright {
    color: rgba(255, 255, 255, 0.3);
}

.footer-dark .info .about a:hover,
.footer-dark .info .help a:hover,
.footer-dark .info .cooperation a:hover {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.footer-dark .info .UniShare-logo img {
    filter: drop-shadow(0 10vw rgba(255, 255, 255, 0.5));
}

/* ========================footer的亮色主题======================== */

.footer .top {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    transform: skewY(2.5deg) translateY(-16%);
    z-index: -1;
}

.footer .anime-img {
    position: absolute;
    top: -8vh;
    left: 2vw;
    width: 10vw;
    height: 50vh;
    background-image: url("../images/footer/role0.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.footer .pekka {
    position: absolute;
    top: -22vh;
    right: 2vw;
    width: 10vw;
    height: 10vw;
    transform: rotate(2deg);
    background-image: url("../images/footer/0.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease;
}

.footer .follow {
    width: 68vw;
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

.footer .follow i {
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.5);
    transition: all ease-out 0.3s;
}

.footer .follow i:hover {
    transform: scale(1.2);
}

.footer .follow a:nth-child(4) i {
    color: #fff;
    font-size: 1.6vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer .follow a:nth-child(8) i {
    width: 1.8vw;
    height: 1.8vw;
    line-height: 1.8vw;
    border-radius: 1vh;
    font-size: 1.3vw;
    text-align: center;
}

.footer .follow a:nth-child(9) {
    position: relative;
    left: -0.5vw;
}

.footer .follow a:nth-child(9) i {
    width: 1.8vw;
    height: 1.8vw;
    line-height: 1.8vw;
    border-radius: 2vw;
    font-size: 1.3vw;
    text-align: center;
}

.footer .follow a:nth-child(5) i,
.footer .follow a:nth-child(6) i {
    font-size: 1.6vw;
}

.footer .follow a:nth-child(2) i:hover {
    color: rgba(80, 180, 120, 1);
}

.footer .follow a:nth-child(3) i:hover {
    color: rgba(255, 100, 100, 1);
}

.footer .follow a:nth-child(4) i:hover {
    color: rgba(0, 0, 0, 0.7);
    background: none;
}

.footer .follow a:nth-child(5) i:hover {
    color: rgba(60, 120, 255, 1);
}

.footer .follow a:nth-child(6) i:hover {
    color: rgba(255, 60, 60, 1);
}

.footer .follow a:nth-child(7) i:hover {
    color: #fb7299;
}

.footer .follow a:nth-child(8) i:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}

.footer .follow a:nth-child(9) i:hover {
    background-color: rgba(0, 120, 255, 1);
    color: #fff;
}

.footer .info {
    display: flex;
    justify-content: center;
    padding: 4vh 2vw;
}

.footer .info .about,
.footer .info .help,
.footer .info .cooperation {
    width: 20vw;
}

.footer .info .about div,
.footer .info .help div,
.footer .info .cooperation div {
    padding: 0.5vh 0;
}

.footer .info h3 {
    padding: 1vh 0;
}

.info div a {
    text-decoration: none;
    font-size: 1vw;
}

.info div a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.info .UniShare-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    overflow: hidden;
}

.UniShare-logo img {
    width: 100%;
    object-fit: cover;
    transform: translateY(-10vw);
    filter: drop-shadow(0 10vw rgba(0, 160, 255, 1));
}

.footer .copyright {
    width: 100%;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
}

.copyright a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    letter-spacing: 1px;
}