.header {
    position: relative;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
    background-color: white;
    z-index: 1;
}

/* ======================== 头部的暗色主题 ======================== */
.header-dark {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    transition: background-color ease 0.5s;
}

.header-dark .logo img {
    filter: drop-shadow(0 60px rgba(255, 255, 255, 0.5)) !important;
}

.header-dark .nav * {
    color: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
}

.header-dark .nav-search #search {
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color ease 0.5s;
}

.header-dark .nav-search #search:focus {
    border-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.7);
}

.header-dark .nav-search button i {
    color: rgba(255, 255, 255, 0.3);
}

.header-dark .nav-search button:hover i {
    color: rgba(255, 255, 255, 0.5);
}

.header-dark .login *,
.header-dark .history *,
.header-dark .mode *,
.header-dark .setting * {
    fill: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5) !important;
}

.header-dark .user .user-avatar * {
    border-color: rgba(255, 255, 255, 0.5) !important;
    fill: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.header-dark .user:hover .user-card,
.header-dark .user-card:hover {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
}

.header-dark .user .user-engagement * {
    color: rgba(255, 255, 255, 0.6);
}

.header-dark .user input {
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.1);
}

.header-dark .user-card .user-name *,
.header-dark .user-card .phone *,
.header-dark .user-card .email *,
.header-dark .user-card .password * {
    color: rgba(255, 255, 255, 0.6);
    fill: rgba(255, 255, 255, 0.6);
}

.header-dark .user-card .logout:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.header-dark .user-card .logout svg,
.header-dark .user-card .logout .logout-text {
    color: rgba(255, 255, 255, 0.6);
    fill: rgba(255, 255, 255, 0.6);
}

.header-dark .login-page {
    background-color: rgba(0, 0, 0, 0.6);
    animation-name: fadeIn-dark;
}

@keyframes fadeIn-dark {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.header-dark .login-page .square {
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.3) !important;
}

.header-dark .login-page .tip {
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.header-dark .login-page .other-login .other-ways * {
    color: rgba(255, 255, 255, 0.5);
}

.header-dark .popup {
    position: absolute;
    top: 90vh;
    height: 20px;
    background: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(10px);
    border: 0.1px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1) !important;
}

.header-dark .popup p {
    color: rgba(255, 255, 255, 0.6);
}

.header div.logo {
    width: 100px;
    height: 60px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-60px);
    filter: drop-shadow(0 60px rgba(0, 160, 255, 1));
}

/*  ======================== 导航栏 ========================  */
.header .nav {
    position: relative;
    width: 42vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.nav input[type="radio"] {
    display: none;
}

.nav .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-content a {
    width: 7vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.nav .nav-content a label {
    width: 7vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav .navcontent label {
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav .nav-content label svg {
    width: 2vw;
    height: 20px;
}

.underline {
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    background-color: rgba(0, 120, 255, 1);
    width: 5vw;
    height: 1px;
    margin-top: 5px;
    margin-left: 1vw;
    transition: 0.5s;
}

.nav input:nth-child(1):checked~.nav-content a:nth-child(1) *,
.nav input:nth-child(2):checked~.nav-content a:nth-child(2) *,
.nav input:nth-child(3):checked~.nav-content a:nth-child(3) *,
.nav input:nth-child(4):checked~.nav-content a:nth-child(4) *,
.nav input:nth-child(5):checked~.nav-content a:nth-child(5) *,
.nav input:nth-child(6):checked~.nav-content a:nth-child(6) * {
    fill: rgba(0, 120, 255, 1);
    color: rgba(0, 120, 255, 1);
}

.nav input:nth-child(1):checked~.underline {
    left: 0%;
}

.nav input:nth-child(2):checked~.underline {
    left: 16.7%;
}

.nav input:nth-child(3):checked~.underline {
    left: 33.3%;
}

.nav input:nth-child(4):checked~.underline {
    left: 50%;
}

.nav input:nth-child(5):checked~.underline {
    left: 66.7%;
}

.nav input:nth-child(6):checked~.underline {
    left: 83.3%;
}

.header .nav label:hover * {
    fill: rgba(0, 120, 255, 1);
    color: rgba(0, 120, 255, 1);
}

/*  ======================== 搜索框 ========================  */
.header .nav-search {
    margin: 0 4vw;
}

.header .nav-search form {
    display: flex;
    justify-content: center;
    align-self: center;
}

.nav-search .nav-search-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-search .nav-search-content #search {
    padding: 0.5vh 2vw 0.5vh 0.5vw;
    width: 18vw;
    height: 20px;
    margin-right: 0.5vw;
    outline: none;
    border: 0.1px solid rgba(60, 60, 60, 0.3);
    border-radius: 1vw;
    font-size: 0.9vw;
}

#search::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 0.5);
}

#search:focus {
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 200, 180, 0.8);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0, 200, 180, 0.8);
    box-shadow: 0px 0px 4px 1px rgba(0, 200, 180, 0.8);
}

.nav-search .nav-search-content .nav-search-clean {
    position: absolute;
    right: 0.9vw;
    display: none;
    width: 1vw;
    height: 20px;
    cursor: pointer;
}

.nav-search-clean svg {
    fill: rgba(0, 0, 0, 0.3);
}

.nav-search-clean svg:hover {
    fill: rgba(0, 0, 0, 0.5);
}

.nav-search .nav-search-content input:not(:placeholder-shown)+.nav-search-clean {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-search form button {
    background: none;
    border: none;
    cursor: pointer;
}

.nav-search form button i {
    width: 1vw;
    height: 20px;
    line-height: 20px;
    font-size: 1vw;
    transition: 0.1s;
    color: rgba(0, 0, 0, 0.5);
}

.nav-search form button:hover i {
    font-size: 1.2vw;
    color: rgba(0, 200, 180, 0.8);
}

.login:hover *,
.history:hover *,
.mode:hover *,
.setting:hover * {
    fill: rgba(0, 100, 255, 1) !important;
    color: rgba(0, 100, 255, 1) !important;
    cursor: pointer;
}

/* ======================== 登录 ======================== */
#login:checked~.user {
    display: flex !important;
}

#login:checked~.login {
    display: none !important;
}

.login {
    width: 2vw;
    height: 40px;
    line-height: 40px;
    margin: 0 0.5vw;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.login svg {
    font-size: 1.2vw;
    width: 2vw;
    height: 25px;
    line-height: 25px;
    text-align: center;
    fill: rgba(0, 0, 0, 0.8);
}

.login .login-text {
    width: 2vw;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.login-page {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn ease-out 0.8s;
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }

    30% {
        background-color: rgba(0, 0, 0, 0.5);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.cancel-login {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-top-right-radius: 10px;
    z-index: 1;
}

.cancel-login:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.cancel-login:hover svg {
    fill: rgba(255, 255, 255, 0.6);
}

.login-page .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login-page .box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: move 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes move {

    0%,
    100% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    bottom: -40px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(2) {
    bottom: 200px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3) {
    top: 100px;
    right: -80px;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.box .square:nth-child(4) {
    top: -70px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5) {
    bottom: -70px;
    left: 120px;
    width: 50px;
    height: 50px;
}

.box .login-container {
    position: relative;
    width: 500px;
    height: 500px;
    min-width: 500px;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.login-container .login-form {
    position: relative;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

.login-form h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 60px;
    height: 2px;
    background: #fff;
}

.login-form .tip {
    position: absolute;
    top: 0;
    transform: translate(100px, 100px);
    display: none;
    padding: 5px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    border-top: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    animation: tipFadeIn ease-out 0.5s;
}

.tip:hover {
    display: block;
}

.login-form .tip:before {
    content: '';
    position: absolute;
    transform: translate(20px, -30px);
    width: 0;
    height: 0;
    border-bottom: 25px solid rgba(255, 255, 255, 0.05);
    border-left: 4px dashed transparent;
    border-right: 10px dashed transparent;
}

@keyframes tipFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.login-form .switch-login {
    position: absolute;
    top: 0;
    transform: translate(60px, 60px);
    fill: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.login-form .switch-login:hover {
    fill: rgba(255, 255, 255, 0.3);
}

.login-form .switch-login:hover~.tip {
    display: block;
}

.login-form .inputBox {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .inputBox input {
    width: 100%;
    outline: none;
    background: rgba(255, 255, 255, 0.15);
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#password-login .inputBox input {
    min-width: 250px;
}

.login-form .inputBox input::placeholder {
    color: #fff;
}

.login-form .inputBox input[type="submit"] {
    background: #fff;
    color: rgba(100, 100, 100, 1);
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.login-form .inputBox input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(60, 60, 60, 1);
}

.login-form .forget {
    margin-top: 5px;
    color: #fff;
}

.login-form .forget a {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.login-form .forget a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.login-form .other-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-login .title {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title .title-p {
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.title .line {
    width: 90px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.other-login .other-ways {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.other-ways div:hover i {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#authcode-login {
    display: none;
}

.login-form .field-country-code {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50px;
}

.field-country-code .country-code {
    font-size: 16px;
    color: #fff;
}

.field-country-code .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon label {
    line-height: 16px;
    display: none;
}

.icon label:hover svg {
    fill: rgba(255, 255, 255, 0.6);
}

.field-country-code input:nth-child(3):checked~.icon label:nth-child(2),
.field-country-code input:nth-child(4):checked~.icon label:nth-child(1) {
    display: block;
}

/* 国家区域的列表 */
.country-code-list {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 200px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: listFadeOut ease-in-out 0.8s;
}

@keyframes listFadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.country-code-list:hover {
    display: block;
}

.country-code-list ul {
    list-style: none;
}

.country-code-list-title {
    font-weight: bold;
    margin-top: 20px;
}

.country-code-list-dec {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-code-list-dec:hover * {
    color: rgba(0, 180, 100, 1);
    font-weight: bold;
}

.country-code-list-dec span {
    display: inline-block;
    padding: 5px 0;
    width: 50%;
}

/* 国家名左对齐 */
.country-code-list-dec span:first-child {
    text-align: left;
}

/* 国家代码右对齐 */
.country-code-list-dec span:last-child {
    text-align: right;
}

.login-form .inputBox input[type="tel"] {
    padding: 8px 20px 8px 80px;
}

/* ======================== 用户 ======================== */
.header .user {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 2.5vw;
    height: 2.5vw;
    margin: 0 0.5vw;
    overflow: visible;
    z-index: 1;
}

.header .user-avatar {
    position: relative;
    width: 2.5vw;
    height: 2.5vw;
    line-height: 2.5vw;
    z-index: 1;
}

.user-avatar .upload-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5vw;
    height: 1.5vw;
    line-height: 2vh;
    display: none;
    fill: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1;
}

.user:hover .user-avatar .upload-image {
    transform: translate(0, 3.5vw);
    display: block;
}

.upload-image:hover {
    fill: rgba(0, 0, 0, 0.5);
}

.upload-image .image-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5vw;
    height: 1.5vw;
    line-height: 2vh;
    opacity: 0;
}

.user-avatar #user-image {
    background-size: cover;
    background-repeat: no-repeat;
}

.user-avatar i {
    position: absolute;
    right: 0;
    width: 2.5vw;
    height: 2.5vw;
    line-height: 2.5vw;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10vw;
    transition: all ease-out 0.3s;
    z-index: 1;
}

.user .user-card {
    position: absolute;
    padding-top: 2.5vw;
    padding-bottom: 2vh;
    display: none;
    z-index: 0;
}

.user:hover .user-avatar i {
    width: 5vw;
    height: 5vw;
    font-size: 2vw;
    line-height: 5vw;
    border-color: rgba(0, 0, 0, 0.3);
}

.user:hover .user-card,
.user-card:hover {
    transform: translateX(-1.5vw);
    top: 3vw;
    width: 20vw;
    height: 45vh;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1vh;
}

.user-card .user-name {
    position: relative;
    width: 20vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name .name {
    font-weight: bold;
}

.user-name .name-edit {
    position: absolute;
    width: 10vw;
    padding: 0 0.5vw;
    height: 3vh;
    outline: none;
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.name-edit::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8vw;
    color: rgba(60, 60, 60, 0.5);
}

.user-name svg {
    position: absolute;
    right: 2vw;
    width: 2vw;
    height: 2vh;
    line-height: 2vh;
    cursor: pointer;
}

.user-name svg:hover {
    fill: rgba(0, 100, 255, 1);
}


.user-card .user-lv {
    width: 20vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-lv .lv {
    margin-right: 1vw;
    text-align: start;
    font-size: 12px;
    color: rgba(0, 150, 255, 1);
}

.user-lv .lv-bar {
    width: 15vw;
    height: 3px;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.1);
}

.user-lv .lv-bar .cur-lv {
    width: 10vw;
    border-radius: 1vw;
    background-color: rgba(0, 200, 255, 1);
    height: 3px;
}

.lv-tip {
    width: 20vw;
    height: 2vh;
    line-height: 2vh;
    font-size: 12px;
    text-align: center;
    color: rgba(160, 160, 160, 1);
}

.user .user-card .user-engagement {
    width: 20vw;
    height: 5vh;
    margin: 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3vw;
}

.user-engagement .follow,
.user-engagement .fans,
.user-engagement .release {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.follow .follow-num a,
.fans .fans-num a,
.release .release-num a {
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.follow .follow-num a:hover,
.fans .fans-num a:hover,
.release .release-num a:hover {
    color: rgba(0, 100, 255, 0.8);
    cursor: pointer;
}

.follow span:nth-child(2),
.fans span:nth-child(2),
.release span:nth-child(2) {
    font-size: 12px;
    color: rgba(120, 120, 120, 1);
}

.user .vip-page {
    text-decoration: none;
}

.user .vip {
    width: 18vw;
    height: 6vh;
    margin: 1.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 1vh;
    background-color: rgba(255, 225, 160, 0.8);
    z-index: 1;
}

.vip svg {
    width: 4vw;
    height: 3vh;
    line-height: 3vh;
    fill: rgba(0, 100, 255, 0.8);
}

.vip .vip-remain {
    width: 14vw;
    height: 5vh;
    line-height: 5vh;
}

.vip .vip-remain .vip-time {
    width: 6vw;
    text-align: center;
    color: rgba(255, 120, 120, 1);
}

.user .phone,
.user .email,
.user .password,
.user .logout-container {
    width: 20vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone svg,
.email svg,
.password svg {
    width: 4vw;
    height: 2vh;
    line-height: 2vh;
    fill: rgba(0, 0, 0, 0.8);
}

.phone svg:nth-child(3):hover,
.email svg:nth-child(3):hover,
.password svg:nth-child(3):hover {
    cursor: pointer;
    fill: rgba(0, 100, 255, 1);
}

.phone .phone-num,
.email .email-num,
.password .password-num {
    width: 12vw;
    height: 2vh;
    font-size: 1vw;
    text-align: center;
}

.phone .phone-edit,
.email .email-edit,
.password .password-edit {
    position: absolute;
    height: 3vh;
    padding: 0 0.5vw;
    outline: none;
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.phone-edit::placeholder,
.email-edit::placeholder,
.password-edit::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8vw;
    color: rgba(60, 60, 60, 0.5);
}

.logout {
    width: 18vw;
    height: 4vh;
    margin: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    cursor: pointer;
}

.logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.logout svg {
    width: 2vw;
    height: 2vh;
    line-height: 2vh;
}

.logout:hover svg,
.logout:hover .logout-text {
    fill: rgba(255, 0, 0, 0.6);
    color: rgba(255, 0, 0, 0.6);
}

/* 弹窗的样式 */
.header .popup {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    padding: 1vw;
    display: none;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity: 0;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: popupFadeIn 5s ease-out;
}

/* 弹窗的淡入动画 */
@keyframes popupFadeIn {
    0% {
        opacity: 0;
        bottom: 0;
    }

    20% {
        opacity: 1;
        bottom: 3%;
    }

    80% {
        opacity: 1;
        bottom: 3%;
    }

    100% {
        opcity: 0;
        bottom: 0;
    }
}

/* 弹窗的内容样式 */
.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.popup-content p {
    text-align: center;
}

.header .history,
.header .mode,
.header .setting {
    position: relative;
    width: 2vw;
    height: 40px;
    margin: 0 0.5vw;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer !important;
}

.history i,
.mode i,
.setting svg {
    font-size: 1.2vw;
    width: 2vw;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    fill: rgba(0, 0, 0, 0.8);
}

.history .name,
.mode .name,
.setting .name {
    width: 2vw;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.mode .light,
.mode .night {
    width: 0;
    height: 0;
    display: none;
    transition: all 1s;
}

.mode input[type="radio"] {
    display: none;
}

.mode input:nth-child(1):checked~.light,
.mode input:nth-child(2):checked~.night {
    width: 2vw;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}