* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace, -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
    color: black;
}

body {
    background-color: rgba(255, 255, 255, 0.3);
}

.night-mode {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s ease;
}

/* ======================== 推荐模块的暗色主题，包括轮播新闻和热榜 ======================== */
.recommand-dark {}

.recommand-dark .news img {
    opacity: 0.6;
}

.recommand-dark .hot-list {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    background-image: linear-gradient(40deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.3) 100%);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.recommand-dark .line-left,
.recommand-dark .line-right {
    border-top-color: rgba(255, 255, 255, 0.3) !important;
}

.recommand-dark .hot-list .head * {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.8);
}

.recommand-dark .hot-list .hot-item {
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(0, 0, 0, 0.05);
}

.recommand-dark .hot-list .hot-item::after,
.recommand-dark .hot-list .hot-item:before {
    border-color: rgba(255, 255, 255, 0.5);
}

.recommand-dark .hot-list .hot-item:hover::before,
.recommand-dark .hot-list .hot-item:hover::after {
    border-color: rgba(255, 255, 255, 0.15);
}

.recommand-dark .hot-list .hot-left .hot-item:nth-child(1) * {
    color: rgba(255, 160, 125, 1) !important;
    fill: rgba(255, 160, 125, 1) !important;
}

.recommand-dark .hot-list .hot-left .hot-item:nth-child(2) * {
    color: rgba(200, 180, 255, 1) !important;
    fill: rgba(200, 180, 255, 1) !important;
}

.recommand-dark .hot-list .hot-left .hot-item:nth-child(3) * {
    color: rgba(0, 180, 255, 1) !important;
    fill: rgba(0, 180, 255, 1) !important;
}

.recommand-dark .hot-list .hot-item * {
    color: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
}


.recommand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}

/* ======================== 新闻消息模块 ======================== */
.news {
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 2vw;
}

.carosel {
    position: relative;
    display: flex;
    width: 40vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

.skip-content {
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;
    display: flex;
    column-gap: 1vw;
    justify-content: center;
    align-items: center;
}

.skip-content .skip-item {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10vw;
    cursor: pointer;
    z-index: 1;
}

.current-item {
    transform: scale(1.25);
    background-color: rgba(255, 255, 255, 1) !important;
}

.carosel .pre,
.carosel .next {
    position: absolute;
    width: 1.5vw;
    height: 30px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 1.25vw;
    transition: ease-out .5s;
}

.carosel .pre {
    left: -1.5vw;
}

.carosel .next {
    right: -1.5vw;
}

.pre:hover,
.next:hover {
    color: rgba(255, 255, 255, 0.8);
}

.slider {
    position: absolute;
    left: 0;
    width: 240vw;
    height: 40vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    transition: ease-in-out 1s;
}

.slider .slide-item {
    width: 40vw;
    height: 40vh;
}

.slide-item img {
    width: 40vw;
    height: 40vh;
    object-fit: fill;
}

/* ======================== 热门排行榜模块 ======================== */
.hot-list {
    position: relative;
    width: 48vw;
    height: 36vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    border-top: none;
    border-radius: 1vw;
    background-color: #FFDEE9;
    background-image: linear-gradient(40deg, #FFDEE9 0%, #B5FFFC 100%);
}

.hot-list .line-left {
    position: absolute;
    top: 0;
    left: 0.5vw;
    width: 20vw;
    border-top: 0.1px solid rgba(0, 0, 0, 0.3);
}

.hot-list .line-right {
    position: absolute;
    top: 0;
    right: 0.5vw;
    width: 20vw;
    border-top: 0.1px solid rgba(0, 0, 0, 0.3);
}

.hot-list .head {
    position: absolute;
    top: 0;
    width: 6.8vw;
    padding: 0.1vh 0;
    /* 将 h4 的左边缘定位到父元素的水平中心 */
    left: 50%;
    /* 使用 transform 将 h4 水平和垂直居中 */
    transform: translateX(-50%) translateY(-60%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hot-list .head svg {
    width: 20px;
    margin-right: 5px;
}

.hot-list .head span {
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.8);
}

.hot-left,
.hot-right {
    width: 22vw;
    height: 36vh;
    margin: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hot-list .hot-item {
    position: relative;
    width: 22vw;
    height: 5vh;
    margin: 0.8vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.hot-item:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.hot-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.6);
    transition: linear 2s;
}

.hot-item::after {
    content: '';
    position: absolute;
    /* 使得元素水平方向向左，竖直方向向上扩张 */
    bottom: 0;
    right: 0;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.6);
    transition: linear 2s;
}

.hot-item:hover::before {
    border-left: 0.1px solid rgba(0, 0, 0, 0.1);
    border-top: 0.1px solid rgba(0, 0, 0, 0.1);
    animation: border-animate linear 0.6s;
    width: 22vw;
    height: 5vh;
}

.hot-item:hover::after {
    border-right: 0.1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
    animation: border-animate linear 0.6s;
    width: 22vw;
    height: 5vh;
}

@keyframes border-animate {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 22vw;
        height: 5vh;
    }
}

.hot-list .hot-item svg {
    position: absolute;
    top: 0.2vh;
    left: 0;
    width: 2vw;
    height: 5vh;
    line-height: 5vh;
}

.hot-list .hot-item .rank {
    width: 2vw;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    font-size: 1vw;
}

.hot-list .hot-item .name {
    width: 19.5vw;
    height: 5vh;
    line-height: 5vh;
    margin-left: 0.5vw;
    /* 超出内容显示为省略号 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hot-list .hot-left .hot-item:nth-child(1) .rank,
.hot-list .hot-left .hot-item:nth-child(1) .name,
.hot-list .hot-left .hot-item:nth-child(1) svg {
    color: rgba(255, 120, 100, 1);
    fill: rgba(255, 120, 100, 1);
}

.hot-list .hot-left .hot-item:nth-child(2) .rank,
.hot-list .hot-left .hot-item:nth-child(2) .name,
.hot-list .hot-left .hot-item:nth-child(2) svg {
    color: rgba(120, 100, 255, 1);
    fill: rgba(120, 100, 255, 1);
}

.hot-list .hot-left .hot-item:nth-child(3) .rank,
.hot-list .hot-left .hot-item:nth-child(3) .name,
.hot-list .hot-left .hot-item:nth-child(3) svg {
    color: rgba(0, 120, 255, 1);
    fill: rgba(0, 120, 255, 1);
}

/* ======================== 侧边栏模块 ======================== */
.sidebar {
    position: fixed;
    top: 30%;
    margin: 0 0.5%;
    width: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .sidebar-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.sidebar .sidebar-content div {
    padding: auto;
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    border: 1px solid black;
}

/* ======================== 侧边栏模块 ======================== */

.main {
    position: relative;
    width: 90vw;
    margin: 2vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.main .section {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.main .section .tools {
    margin-left: 2%;
    display: flex;
    justify-self: start;
    align-items: center;
    border: 1px solid black;
}

.tools #sort,
#filter,
#arrange {
    width: 10%;
    height: 4vh;
    line-height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}

.tools #sort svg,
#filter svg,
#arrange svg {
    width: 1.5vw;
    height: 2vh;
}

.main .section .item-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.main .section .item-container .item {
    position: relative;
    width: 16%;
    height: 25vh;
    margin: 2vh 1.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.item div {
    display: block;
    width: 100%;
    height: 60%;
    border: 1px solid black;
}

.item img {
    object-fit: cover;
}

.item .title {
    width: 80%;
    height: 12%;
    margin: 2% 0;
    border: 1px solid black;
}

.item .intro {
    width: 80%;
    height: 12%;
    margin: 2% 0;
    border: 1px solid black;
}